/* FONTS*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');
/* font-family: 'Raleway', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400');
/* font-family: 'Montserrat', sans-serif;
*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 1230px;
	padding: 0 30px;
	margin: 0 auto;
	box-sizing: border-box;
}



/* 
******************** HEADER ******************** 
*/

.header {
	height: 100vh;
	min-height: 1000px;
	background-image: url(../images/headerBG.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 40px;
}

.header .container {
	display: flex;
	height: inherit;
	min-height: 1000px;
	flex-direction: column;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tools__cart {
	background: none;
	border: none;
	width: 24px;
	height: 24px;
}
.tools__cart:hover {
	cursor: pointer;
}
.tools__cart:focus{
	outline: none;
}

.tools__search {
	background: none;
	border: none;
	width: 24px;
	height: 24px;
	margin-left: 20px;
}
.tools__search:hover {
	cursor: pointer;
}
.tools__search:focus{
	outline: none;
}

.menu__item {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-decoration: none;
	margin-right: 30px;
	transition: .5s;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item:hover {
	color: #c7b299;
}

.tag-line {
	text-align: center;
	margin: auto;
}

.tag-line__start {
	margin: 50px auto 0 auto;
	display: block;
	background-color: #998675;
	color: #fff;
	border: none;
	padding: 18px 40px;
	border-radius: 5px;
	border-bottom: 3px solid #736357;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 700;
	transition: .5s;
}
.tag-line__start:hover {
	cursor: pointer;
	background-color: #736357;
}
.tag-line__start:focus {
	outline: none;
}

.tag-line__pre-title {
	color: #fff;
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.tag-line__title {
	color: #fff;
	font-size: 52px;
	font-weight: 800;
}

.tag-line__description {
	color: #fff;
	max-width: 700px;
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-top: 20px;
}



/* 
******************** SERVICES ******************** 
*/

.services {
	padding: 80px 0;
}

.services-items {
	display: flex;
}

.services-item {
	text-align: center;
	margin-right: 30px;
}
.services-item:hover {
	cursor: pointer;
}

.services-item:last-child {
	margin-right: 0;
}

.services-item__img {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.services-item__title {
	margin-top: 30px;
	transition: .6s;
	font-size: 22px;
	font-weight: 600;
}
.services-item:hover .services-item__title{
	color: #c7b299;
	transition: .6s;
}

.services-item__description {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #8c8c8c;
}

.services-item__line {
	transition: .6s;
	margin: 30px auto 0 auto;
	width: 70px;
	height: 3px;
	background-color: #f1eee9;
}
.services-item:hover .services-item__line{
	background-color: #c7b299;
	transition: .6s;
}


/* 
******************** SCREENS ******************** 
*/

.screens {
	text-align: center;
	background-color: #fbfaf8;
	overflow: hidden; /* fix margin */
}

.screens__title {
	margin-top: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #555555;
}

.screens__description {
	color: #8c8c8c;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	max-width: 700px;
	margin: 20px auto 0 auto;
	line-height: 25px;
}

.screens__img {
	margin-top: 40px;
	display: block;
	width: 100%;
}


/* 
******************** LAST-PROJECTS ******************** 
*/

.last-projects {
	padding: 80px 0;
	text-align: center;
}

.last-projects__title {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #555555;
}

.last-projects__description {
	color: #8c8c8c;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	max-width: 700px;
	margin: 30px auto 0 auto;
	line-height: 25px;
}

.last-projects-filters {
	margin-top: 40px;
}

.last-projects-filters__filter {
	margin: 0 5px;
	border: 1px solid #ebebeb;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px 22px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	transition: .4s;
}

.last-projects-filters__filter:hover {
	cursor: pointer;
	transition: .4s;
	background-color: #f1edea;
}

.last-projects-filters__filter:focus {
	outline: none;
}

.last-projects-filters__filter_active {
	background-color: #998675!important;
	border: 1px solid #998675;
	color: #fff;
}

.last-projects-filters__filter_fadeIn {
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	display: block;
}

.last-projects-filters__filter_fadeOut {
	animation-name: fadeOut;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	display: none;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.last-projects__load {
	margin-top: 40px;
	background-color: #998675;
	border: none;
	color: #fff;
	padding: 15px 40px;
	border-radius: 5px;
	border-bottom: 3px solid #736357;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	transition: .5s;
}
.last-projects__load:hover {
	background-color: #7b6c5f;
	cursor: pointer;
}
.last-projects__load:focus {
	outline: none;
}

.last-projects-all {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
}

.last-projects-project {
	width: 370px;
	text-align: left;
	margin-top: 30px;
}
.last-projects-project:hover {
	cursor: pointer;
}

.last-projects-project__img {
	display: block;
}

.last-projects-project-description {
	padding: 30px;
	background-color: #fbfaf8;
	position: relative;
	transition: .5s;
}
.last-projects-project:hover .last-projects-project-description{
	background-color: #362f2d;
}

.last-projects-project-description:before {
	content: '';
	display: block;
	position: absolute;
	top: -20px;
	left: 20px;
	border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    transition: .5s;
}
.last-projects-project:hover .last-projects-project-description:before{
	border-bottom: 10px solid #362f2d;
}

.last-projects-project-description__name {
	color: #c7b299;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	transition: .5s;
}
.last-projects-project:hover .last-projects-project-description__name{
	color: #fff;
}

.last-projects-project-description__tag {
	font-size: 14px;
	color: #d1d1d1;
	margin-top: 10px;
	transition: .5s;
}
.last-projects-project:hover .last-projects-project-description__tag{
	color: #c7b299;
}

/* 
******************** VIDEO ******************** 
*/

.video {
	overflow: hidden;
	position: relative;
}

.video video {
	width: 100%;
	height: 700px;
	object-fit: cover;
	display: block;
}

.video-container {
	position: absolute;
	top: calc(50% - 105px);
	height: 210px;
	text-align: center;
	width: 100%;
}

.video__play:hover {
	cursor: pointer;
}

.video__title {
	margin-top: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: #fff;	
}

.video__description {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	max-width: 600px;
	margin: 25px auto 0 auto;
}


	
/* 
******************** FOR-MOBILE ******************** 
*/


.for-mobile {
	padding-top: 80px;
}

.iphone {
	float: left;
	margin-top: -115px;
	width: 423px;
	position: relative;
	overflow: hidden;
	height: 616px;
}

.iphone_animation {
	animation-name: iphone;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes iphone{
	0% {
		top: 100%;
	}
	100% {
		top: 0;
	}
}

.iphone__img {
	display: block;
	position: absolute;
	top: 100%;
}

.for-mobile__title {
	margin-top: 115px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #555555;
}

.for-mobile__description {
	margin-top: 35px;
	color: #8c8c8c;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 25px;
}

.for-mobile__author {
	margin-top: 25px;
	color: #8c8c8c;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}



/* 
******************** COUNTERS ******************** 
*/

.counters {
	padding: 70px 0 60px 0;
	background: linear-gradient(90deg, #211b19, #4e3427);
}

.counters-all {
	display: flex;
	justify-content: space-around;
}

.counters-item {
	text-align: center;
}

.counters-item__count {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 48px;
	color: #fff;
	line-height: 40px;
	margin-top: 25px;
}

.counters-item__title {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #c7b299;
	text-transform: uppercase;
}

.counters-item__line {
	width: 30px;
	height: 2px;
	margin: 30px auto 0 auto;
	background-color: #fff;
}

/* 
******************** RECENT-POSTS ******************** 
*/

.recent-posts {
	padding: 80px 0;
	text-align: center;
}

.recent-posts__title {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #555555;
}

.recent-posts__description {
	color: #8c8c8c;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	max-width: 700px;
	margin: 25px auto 0 auto;
	line-height: 25px;
}

.recent-posts-all {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	overflow: hidden;
}

.recent-posts-boxs {
	display: flex;
	transition: .5s;
}

.recent-posts-item {
	margin-left: 18px;
	max-width: 370px;
	text-align: left;
	border: 1px solid #f8f8f8;
}
.recent-posts-item:first-child{
	margin-left: 0;
}
.recent-posts-item:hover {
	cursor: pointer;
}

.recent-posts-item-info {
	padding: 30px;
	transition: .3s;
}
.recent-posts-item:hover .recent-posts-item-info {
	background-color: #362f2d;
	transition: .3s;
}

.recent-posts-item__img img{
	display: block;
}

.recent-posts-item-info__title {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #555555;
	transition: .3s;
}
.recent-posts-item:hover .recent-posts-item-info__title {
	color: #c7b299;
}

.recent-posts-item-info__description {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #8c8c8c;
	margin-top: 15px;
	transition: .3s;
}
.recent-posts-item:hover .recent-posts-item-info__description {
	color: #fff;
}


.recent-posts-item-info__more {
	margin-top: 25px;
	display: block;
	border: none;
	text-decoration: none;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #c7b299;
	transition: .3s;
}
.recent-posts-item-info__more:focus {
	outline: none;
}
.recent-posts-item:hover .recent-posts-item-info__more {
	color: #c7b299;
}

.recent-posts-arrows {
	margin-top: 40px;
}

.recent-posts-arrows__button {
	border: none;
	background: none;
	margin: 5px;
}
.recent-posts-arrows__button:focus {
	outline: none;
}
.recent-posts-arrows__button:hover {
	cursor: pointer;
}


/* 
******************** PARTNERS ******************** 
*/

.partners {
	background-image: url(../images/partnersBG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 140px 0;
}

.partners-all {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* 
******************** FOOTER ******************** 
*/


.footer {
	background-color: #111111;
	color: #555555;
	font-size: 13px;
	font-weight: 600;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	align-items: center;
}

.footer__link {
	color: #959595;
	text-decoration: none;
	font-weight: 600;
}
.footer__link:hover {
	text-decoration: underline;
}

.footer-copyright__item {
	margin-right: 25px;
}
.footer-copyright__item:last-child {
	margin-right: 0;
}
