* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #2B2B2B;
}

a {
	color: #363435;
	text-decoration: none;
}

h2 {
	font-size: 16px;
	color: #5B595A;
}

.header-top {
	height: 50px;
}

a.headMenu {
font-weight: bold;
font-size: 11px;
text-decoration: none;
}

.menu a:hover {
	color: #b0cb1f;
}

.lang_selected {
	color: #b0cb1f;
}

.lang {
	font-size: 11px;
	font-weight: bold;
}

.nav ul {
	float: left;
}

.nav li {
	float: left;
	list-style: none;
}

.nav a {
	margin-right: 15px;
	font-weight: bold;
}

.nav a:hover {
	color: #b0cb1f;	
}

.banner td {
	height: 276px;
	background: #E6E7E9;
}

.banner {
	height: 276px;
}

.banner-text {
	float: right;
}

.text td {
	padding-top: 30px;
}


.content td {
	padding: 0 20px 0 20px;
	vertical-align: top;
	border-right: 1px dotted #333;
}

.content td:first-child {
	padding-left: 0;
}

.content td:last-child {
	border: none;
}

.content a:hover{
text-decoration:underline
}

.lurer {
	width: 250px;
}

.knigi {
	background-color: #E6E7E9;
}

.footer {
	background-color: #B0CB1F;
}