* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: ArianAMURegular, Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #464646;
}

@font-face {
	font-family: FuturaBT;
	src: url(font/futura.otf);
}

/* HEADER */

.header {
	height: 30px;
	background: #EBE5DC;
}

.header-container {
	width: 980px;
	padding-left: 10px;
	margin: 0 auto;
}

.header-nav a {
	width: auto;
	height: auto;
	text-decoration: none;
	color: #571c20;
	font-size: 10px;
	margin-top: 7px;
	padding: 0 7px;
	float: left;
	border-right: 1px solid #571c20;
}

.header-nav a:last-child{
	border: none;
}

.header-nav a:hover {
	color: #EB8E03;
}

/* HEADER END */

/* LOGO */

.logo {
	height: 70px;
	background: #fcfbf6;
}

.logo-container {
	width: 980px;
	margin: 0 auto;
}

.logo-img {
	padding: 20px 10px 0 0;
	float: left;
}

.logo h2 {
	color: #571c20;
	font-size: 14px;
	margin: 0px;
	padding: 43px 0 0 0px;
	font-family: AGaramondPro;
	font-weight: normal;
	float: left;
}

/* LOGO END */

/* LANG */

.lang {
	margin-top: 7px;
	float: right;
}

.lang a {
	text-decoration: none;
	color: #8f888f;
	font-size: 11px;
	font-family: ArianAMURegular, Tahoma, Arial, Helvetica, sans-serif;
	padding: 0 3px;
}

.lang a:hover {
	color: #EB8E03;
}

/* LANG END */

/* SLIDER */

.slider {
	width: 990px;
	margin: 0 auto;
}

.slider-text {
	width: 990px;
	height: 115px;
	margin: 0 auto;
	background: #EBE5DC;
}

.slider-menu {
	width: auto;
	padding-top: 8px;
}

.slider-menu td {
	text-align: left;
	width: 33%;
	padding: 0px 25px;
	vertical-align: top;
}

.slider-menu td:hover {
	background: #EEB687;
}

.slider-menu a {
	text-decoration: none;
}


.slider-menu h2 {
font-size: 16px;
margin-bottom: 3px!important;
color: #571c20;
margin: 0px;
font-family: FuturaBT;
font-weight: 300;
font-weight: normal;
}

.slider-menu p {
	font-size: 12px;
	color: #571C20;
}

/* SLIDER END */

/* FOR WOMEN */

.for-women-container {
	width: 950px;
	margin: 0 auto;
	padding: 20px;
	padding-top: 50px;
}

.for-women h3 {
	text-align: center;
	color: #571c20;
	font-family: AGaramondPro;
	font-size: 18px;
	text-transform: uppercase;
	overflow: hidden;
}

.for-women h3:before {
	background-color: #c6bbaf;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	margin-left: -50%;
	right: 0.5em;
}

.for-women h3:after {
	background-color: #c6bbaf;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	margin-right: -50%;
	left: 0.5em;
}

.models table {
	text-align: center;
}

.models img {
	padding-bottom: 7px;
}

.models a {
	border-bottom: 1px solid #C6BBAF;
}

.models td:hover {
	background: #EBE5DC;
	height: auto;
	border-radius: 30px;
}

.models h2 {
	padding-top: 5px;
	font-size: 12px;
	color: #571c20;
	margin: 0px 0 10px 0;
	font-family: FuturaBTBook;
	font-weight: 300;
	text-transform: uppercase;
}

.models p {
	font-size: 11px;
	color: #33312f;
	margin: 0px;
	padding: 0px;
	font-family: ArianAMURegular, Tahoma, Arial, Helvetica, sans-serif;
}

/* FOR WOMEN END */

/* SHADOW */

.shadow-container {
	width: 990px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 50px;
}

/* SHADOW END */

/* ACCESSORIES */

.accessories-container {
	width: 950px;
	margin: 0 auto;
	padding: 20px;
}

.accessories-container h3 {
	text-align: center;
	color: #571c20;
	font-family: AGaramondPro;
	font-size: 18px;
	text-transform: uppercase;
	overflow: hidden;
}

.accessories-container h3:before {
	background-color: #c6bbaf;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	margin-left: -50%;
	right: 0.5em;
}

.accessories-container h3:after {
	background-color: #c6bbaf;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	margin-right: -50%;
	left: 0.5em;
}

.accessories-container table {
	padding-top: 15px;
	text-align: center;
}

.accessories-container img {
	padding-bottom: 7px;
}

.accessories-container td:hover {
	background: #EBE5DC;
	height: auto;
	border-radius: 30px;
}

.accessories-container h2 {
	padding-top: 5px;
	font-size: 12px;
	color: #571c20;
	margin: 0px 0 10px 0;
	font-family: FuturaBTBook;
	font-weight: 300;
	text-transform: uppercase;
}

.accessories-container a {
	border-bottom: 1px solid #C6BBAF;
}

/* ACCESSORIES END */

/* FOOTER */ 

.footer {
	background: #571C20;
	height: 185px;
}

.footer-container {
	width: 990px;
	margin: 0 auto;
	padding-top: 30px;
}

.footer-contacts {
	width: 295px;
	height: 100px;
	border-right: 1px solid #9d7c7e;
	float: left;
	color: #b29597;
}

.footer-container h1 {
	padding-top: 10px;
	font-size: 18px;
	color: #FFF;
	font-family: FuturaBT;
	font-weight: 300;
}

.footer-contacts p {
	color: #b29597;
}

.footer-social {
	padding-left: 370px;
}

.footer-social img {
	padding-top: 15px;
	padding-right: 3px;
}

.footer-copy {
	height: 70px;
	background: #EBE5DC;
}

.footer-copy-container {
	width: 990px;
	margin: 0 auto;
	color: #9f9f9f;
}

.footer-copy-container p {
	padding-top: 10px;
}

/* FOOTER END */ 