@media only screen and (max-width: 992px){
    .container {
		width: 720px;
		padding: 0 15px;
		height: inherit;
		margin: 0 auto;
	}

	header {
		height: 130px;
	}

	header ul {
		margin-left: 189px;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	header ul li {
		margin: 15px 0;
		display: block;
	}

	.telephone, .mail {
		margin: 0;
	}

	.key_section{
		height: 450px;
	}

	.key_section ul {
		margin-top: 50px;
	}

	.key_section .container {
		left: calc(50% - 360px);
		height: 510px;
		padding: 60px 60px;
	}

	.key_section .container::after {
		content: '';
		position: absolute;
		top: -2px;
		right: -30px;
		height: 510px;
		width: 30px;
		background: url(../img/key-arrow-750px.png) no-repeat;
		transform: rotate(180deg);
	}

	.key_section .container::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -30px;
		height: 510px;
		width: 30px;
		background: url(../img/key-arrow-750px.png) no-repeat;
	}

	.key_section h1 {
		font-size: 45px;
	}
	
	.house_key{
		width: 175px;
		height: 175px;
		right: 50px;
		top: 265px;
	}

	.video_section {
		margin-bottom: 85px;
	}

	.video_section h1 {
		padding: 60px 0 40px 0;
		font-size: 35px;
		line-height: 30px;
	}

	.video_section iframe {
		width: 720px;
		height: 405px;
	}

	.form_section .container {
		padding: 20px 60px 20px 90px;
		left: calc(50% - 360px);
	}

	.form_section h1 {
		padding-bottom: 55px;
		font-size: 35px;
	}

	.form_section form {
		width: 255px;
	}

	.form {
		margin-left: 15px;
	}

	.form ul li {
		font-size: 14px;
	}

	.form p {
		font-size: 18px;
	}

	.job_section {
		margin: 60px 0 60px 0;
	}
	
	.job_section .items_row_1 {
		margin-top: 45px;
	}
	.job_section .items_row_2 {
		margin-top: 40px;
	}

	.job_section .icon {
		width: 80px;
		height: 80px;
		border: 3px solid #FF6600;
	}

	.job_section .item p {
		padding-top: 20px;
		font-size: 14px;
	}

	.job_section h1 {
		font-size: 35px;
	}

	.form_section .container {
		padding: 60px 60px 60px 90px;
	}

	.numbers_section {
		height: 224px;
		margin-top: 90px;
	}

	.numbers_section .container {
		height: 282px;
		left: calc(50% - 360px);
	}

	.numbers_section .container::after {
		height: 284px;
		background: url(../img/numbers-arrow-750.png);
	}

	.numbers_section .container::before {
		height: 284px;
		background: url(../img/numbers-arrow-750.png);
	}

	.numbers_section h1 {
		font-size: 35px;
		margin-bottom: 50px;
	}
	
	.numbers_section .items {
		justify-content: space-between;
	}

	.numbers_section .item {
		width: auto;
	}

	.numbers_section .item h1{
		font-size: 60px;
	}

	.numbers_section .item p {
		margin-top: 15px;
	}

	.photo_section {
		height: 480px;
	}

	.awards_section {
		padding: 85px 0;
	}

	.awards_section .items {
		margin-top: 35px;
	}

	.awards_section .item {
		width: 245px;
	}
	
	.awards_section .icon {
		width: 64px;
		height: 64px;
	}

	.awards_section h1 {
		font-size: 35px;
	}

	#map {
		top: 222px;
	}

	.maps_section .container {
		left: calc(50% - 360px);
		width: 720px;
		height: 282px;
		padding: 60px 0 60px 60px;
	}

	.maps_section .container::before{
		content: '';
		position: absolute;
		top: -2px;
		left: -30px;
		height: 284px;
		width: 30px;
		background: url(../img/maps-arrow-750px.png) no-repeat;
	}

	.maps_section .container::after {
		content: '';
		position: absolute;
		top: -2px;
		right: -30px;
		height: 284px;
		width: 30px;
		background: url(../img/maps-arrow-750px.png) no-repeat;
		transform: rotate(180deg);
	}
	
	.maps_section {
		border: 1px solid #F2EBE6;
		height: 222px;
		margin-bottom: 360px;
		background-color: #FFF7F2;
	}

	.maps_section ul {
		margin-top: 40px;
	}

	.maps_section ul li {
		display: inline-block;
		min-width: 240px;
		padding: 15px 0;
	}

	.maps_section ul li a {
		display: inline-block;
	}

	.maps_section h1 {
		font-size: 35px;
		line-height: 30px;
	}

	footer {
		height: 100px;
	}

	footer .copy {
		margin: 30px 0 0 0;
	}

	footer .social {
		margin: 30px 0 auto auto;
	}

}

@media only screen and (max-width: 768px){
	.container {
		width: 450px;
		padding: 0 15px;
		height: inherit;
		margin: 0 auto;
	}

	header {
		height: 140px;
	}

	header .container {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: 0;
	}

	header .container hr {
		display: block;
		height: 1px;
		border: none;
		background: #f2ebe6;
	}

	header .logo_block {
		display: block;
		padding: 20px 0;
		position: relative;
		left: calc(50% - 225px);
	}

	.telephone, .mail {
		font-size: 16px;
	}

	.logo {
		max-width: 290px;
	}

	header ul {
		margin: 0 auto;
		width: 450px;
	}

	header ul li {
		display: inline-block;
		margin: 20px 10px 20px 47px
	}
	header ul li:last-child {
		margin: 20px 10px 20px 80px;
	}

	.key_section {
		border: 1px solid #F2EBE6;
		height: 290px;
		background-color: #FFF7F2;
	}

	.key_section .container {
		left: calc(50% - 225px);
		height: 348px;
		padding: 35px 60px 40px 50px;
	}

	.key_section .container::before{
		content: '';
		position: absolute;
		top: -1px;
		left: -30px;
		height: 350px;
		width: 30px;
		background: url(../img/key-arrow-480px.png) no-repeat;
	}

	.key_section .container::after {
		content: '';
		position: absolute;
		top: -2px;
		right: -30px;
		height: 350px;
		width: 30px;
		background: url(../img/key-arrow-480px.png) no-repeat;
		transform: rotate(180deg);
	}

	.key_section h1 {
		font-size: 25px;
		line-height: 25px;
	}
	
	.key_section ul li {
		padding: 16px 0;
		padding-left: 50px;
		font-size: 16px;
	}

	.key_section ul li svg {
		top: 16px;
		width: 26px;
		height: 26px;
	}

	.house_key {
		display: none;
	}

	.key_section ul{
		margin-top: 60px;
	}

	.video_section{
		margin-bottom: 65px;
	}

	.video_section h1 {
		font-size: 25px;
		padding: 40px 0 30px 0;
		line-height: 20px;
	}

	.video_section iframe {
		width: 450px;
		height: 253px;
	}

	.form_section {
		border: 1px solid #F2EBE6;
		height: 415px;
		background-color: #FFF7F2;
	}

	.form_section .container {
		height: 474px;
		padding: 30px 43px 40px 57px;
		left: calc(50% - 225px);
	}

	.form_section .container::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -30px;
		height: 476px;
		width: 30px;
		background: url(../img/form-arrow-480.png) no-repeat;
	}

	.form_section .container::after {
		content: '';
		position: absolute;
		top: -2px;
		right: -30px;
		height: 476px;
		width: 30px;
		background: url(../img/form-arrow-480.png) no-repeat;
		transform: rotate(180deg);
	}

	.form {
		display: block;
		margin-left: 0;
	}

	.form_section form {
		width: 100%;
		margin-top: 30px;
	}

	.form_section form input {
		width: 165px;
	}
	
	.input_telephone {
		margin-left: 14px;
	}

	.form_section h1 {
		font-size: 25px;
		text-align: center;
		line-height: 25px;
		padding: 0 0 30px 0;
	}

	.form_section ul {
		margin-left: 40px;
	}

	.form_section p {
		font-size: 16px;
	}

	.form_section  ul li {
		font-family: Roboto;
		font-weight: 400;
		font-size: 14px;
		margin-bottom: 20px;
	}

	.form .icon {
		top: 0;
	}

	.job_section {
		margin: 40px 0;
	}
	.job_section .items {
		margin-top: 0;
		flex-wrap: wrap;
	}
	.job_section .item {
		margin: 13px 0;
	}
	
	.job_section .item p {
		padding-top: 18px;
	}

	.job_section .item p br {
		display: none;
	}
	
	.job_section .icon {
		width: 60px;
		height: 60px;
		border: 2px solid #FF6600;
	}

	.job_section .icon svg {
		padding: 5px;
	}

	.job_section h1 {
		margin-bottom: 15px;
		font-size: 25px;
	}

	.numbers_section {
		height: 127px;
		margin-top: 60px;
	}

	.numbers_section .container {
		height: 185px;
		padding: 40px 30px;
		left: calc(50% - 225px);
		box-sizing: border-box;
	}

	.numbers_section .container::before {
		height: 187px;
		background: url(../img/numbers-arrow-480.png);
	}
	.numbers_section .container::after {
		height: 187px;
		background: url(../img/numbers-arrow-480.png);
	}

	.numbers_section h1 {
		font-size: 25px;
		margin-bottom: 35px;
		line-height: 20px;
	}

	.numbers_section .item h1 {
		font-size: 35px;
	}

	.numbers_section .items {
		margin-top: 30px;
	}

	.photo_section {
		height: 330px;
	}
	
	.awards_section {
		padding: 65px 0;
	}

	.awards_section h1 {
		line-height: 20px;
		font-size: 25px;
	}

	.awards_section .items {
		display: block;
		padding-left: 50px;
		margin-top: 30px;
	}

	.awards_section .item {
		text-align: left;
		position: relative;
		margin-top: 20px;
		width: 100%;
	}

	.numbers_section .item h1 {
		line-height: 30px;
		font-size: 35px;
	}

	.numbers_section .item p {
		font-size: 14px;
		margin-top: 10px;
	}

	.awards_section .icon {
		width: 42px;
		height: 42px;
		position: absolute;
		left: -55px;
		top: -4px;
	}
	.awards_section .item svg {
		width: 42px;
		height: 42px;
		padding: 0;
	}

	.awards_section .item p br {
		display: none;
	}

	.awards_section .item .year{
		margin-top: 15px;
	}

	.maps_section {
		margin-bottom: 315px;
	}

	.maps_section .container {
		left: calc(50% - 225px);
		width: 450px;
		padding: 35px 0 40px 45px;
		height: 282px;
	}

	.maps_section h1 {
		font-size: 25px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.maps_section ul {
		margin-top: 0px;
	}

	.maps_section ul li {
		padding: 13px 0;
	}

	.maps_section .adress {
		font-size: 16px;
	}

	#map {
		height: 280px;
	}

	footer .container {
		flex-direction: column-reverse;
		padding: 25px 0;
	}

	footer .social {
		margin: -15px 0;
	}

	footer .social a {
		margin-left: 14px;
	}
	
}

@media only screen and (max-width: 480px) {
	.container {
		width: 290px;
		padding: 0 15px;
		height: inherit;
		margin: 0 auto;
	}

	header {
		height: 180px;
	}

	header ul {
		width: 290px;
	}

	header ul li {
		display: block;
	}

	header .container {
		width: 100%;
		margin: 0 auto;
	}

	header .logo_block {
		left: calc(50% - 145px);
	}
	header ul li:last-child {
		margin: 20px 10px 20px 47px;
	}

	header .logo {
		width: 290px;
	}

	.key_section .container {
		left: calc(50% - 145px);
		padding: 35px 20px;
		height: 348px;
	}

	.key_section h1 {
		font-size: 20px;
	}

	.key_section ul {
		width: 245px;
	}

	.key_section ul li svg {
		width: 26px;
		height: 26px;
		top: 15px;
	}

	.video_section h1 {
		font-size: 22px;
		padding: 40px 70px 30px 70px;
	}

	.video_section iframe {
		width: 290px;
		height: 163px;
	}
	
	.form_section {
		height: 500px;
	}

	.form_section .container {
		left: calc(50% - 145px);
		padding: 40px 23px;
		height: 557px;
	}

	.form_section .container::after {
		background: url(../img/form-arrow-320.png);
		height: 559px;
	}
	
	.form_section .container::before {
		background: url(../img/form-arrow-320.png);
		height: 559px;
	}

	.form_section h1 {
		font-size: 22px;
		padding: 0;
		margin-bottom: 30px;
		line-height: 20px;
	}

	.form_section ul {
		margin: 0;
		padding-left: 45px;
	}
	.form ul li {
		margin-bottom: 20px;
	}

	.form_section form input {
		width: 100%;
	}

	.input_telephone {
		margin-left: 0;
	}

	.job_section {
		margin: 27px 0;
	}

	.job_section h1 {
		padding: 35px 0 20px 0;
		font-size: 22px;
		margin: 0;
		line-height: 20px;
	}
	
	.job_section .items {
		justify-content: space-between;
	}

	.job_section .item {
		width: 140px;
	}

	.job_section .icon, .job_section .icon svg {
		width: 60px;
		height: 60px;
	}
	.job_section .icon svg{
		width: 70%;
		height: 100%;
		padding: 4px;
	}

	.job_section .item p {
		font-size: 14px;
		padding-top: 15px;
	}

	.numbers_section {
		height: 142px;
		margin-top: 60px
	}
	.numbers_section h1 {
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 30px;
	}

	.numbers_section .container {
		left: calc(50% - 145px);
		padding: 38px 23px;
		height: 200px;
	}

	.numbers_section .container::after {
		height: 202px;
		background: url(../img/numbers-arrow-320.png);
	}

	.numbers_section .container::before {
		height: 202px;
		background: url(../img/numbers-arrow-320.png);
	}

	.numbers_section .item {
		width: auto;
	}

	.numbers_section .item h1 {
		font-size: 30px;
	}

	.numbers_section .item p {
		margin-top: 5px;
		font-size: 10px;
	}
	
	.photo_section {
		height: 220px;
	}

	.awards_section .item p {
		font-size: 14px;
	}

	.awards_section h1 {
		font-size: 22px;
	}

	.awards_section .item .year {
		font-size: 16px;
	}

	.awards_section .icon, .awards_section .item svg {
		width: 40px;
		height: 40px;
	}

	.awards_section .icon {
		top: 0;
	}

	.maps_section {
		margin-bottom: 263px;
		height: 252px;
	}
	
	.maps_section .container {
		left: calc(50% - 145px);
		padding: 40px 20px 40px 20px;
		height: 312px;
		width: 290px;
	}

	.maps_section .container::after {
		height: 312px;
		background: url(../img/maps-arrow-320px.png);
	}

	.maps_section .container::before {
		height: 312px;
		background: url(../img/maps-arrow-320px.png);
	}

	.maps_section ul li {
		height: 30px;
		padding: 10px 0;
	}

	.maps_section h1 {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.maps_section ul li span {
		margin-left: 0px;
		display: block;
	}

	#map {
		height: 253px;
		top: 252px;
	}

	footer {
		height: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	footer .container {
		padding: 0;
	}

	footer .copy a, footer .copy p{
		font-size: 10px;
	}

	footer .social a:first-child {
		margin-left: 10px;
	}
	
	footer .social, footer .copy {
		margin: 10px 0;
	}

	footer .copy {
		padding: 0;
	}
}